name: Pypi Publish

on:
  push:
    branches:
      - master
      - update_install

jobs:

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]

    steps:
      - uses: actions/checkout@v4

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5

      # - name: Install Rtools (Windows)
      # # Rtools provides pkg-config on Windows
      #   if: ${{ runner.os == 'Windows' }}
      #   run: |
      #     choco install rtools -y --no-progress --force --version=4.0.0.20220206
      #     echo "c:\rtools40\ucrt64\bin;" >> $env:GITHUB_PATH

      - name: Use Fortran compiler on macos
        if: ${{ runner.os == 'macos' }}
        uses: fortran-lang/setup-fortran@v1
        with:
          compiler: 'gcc'
          version: 13

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.20.0

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        # to supply options, put them in 'env', like:
        env:
          CIBW_ENVIRONMENT: "MACOSX_DEPLOYMENT_TARGET='12.0'"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Optional, use if you use setuptools_scm
        submodules: true  # Optional, use if you have submodules

    - name: Build SDist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-sdist
        path: dist/*.tar.gz          

  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: [build_wheels, make_sdist]
    environment:
      name: pypi
      url: https://pypi.org/p/coilpy
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    # retrieve your distributions here
      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
